<form autocomplete="off" class="fatex-u-full-height {{cssClass}}">
    <div class="desk">

        {{!--HEADER--}}
        <div class="desk__header">
            <div class="fatex-header">
                <div class="fatex-header__name">
                    <label class="fatex-header__label">
                        {{#if isOwnedBy}}
                            {{ isOwnedBy }}
                        {{else}}
                            {{localize FAx.Gloabl.BaseItem}}
                        {{/if}}
                    </label>
                    <div class="fatex__header__title fatex__item__header__title">{{localize title}}</div>
                </div>

                <img class="fatex-header__logo" src="/systems/fatex/assets/logos/powered_by_fate.svg">
            </div>
        </div>

        <div class="desk__content">
            <div class="desk__content__inner desk__content__inner--item">
