<div class="fatex-u-padding-std">
    <header class="fatex-headline">
        <h2 class="fatex-headline__text">{{localize "FAx.Sheet.Consequences"}}</h2>
        <div class="fatex-actions fatex-actions--headline">
            <span class="fatex-eb-consequence-add fatex-actions__icon fa fa-plus"></span>
        </div>
    </header>

    {{#each consequences as |consequence consequenceIndex|}}
        <div
            class="fatex__input--icon fatex-eb-sortable item{{#if consequence.isCondition}} fatex__consequence--condition{{/if}}{{#if consequence.isDisabled}} fatex-u-disabled{{/if}}"
            data-item-id="{{consequence._id}}"
        >
            <div class="fatex-u-pos-relative">
                <div class="fatex-eb-consequence-input fatex-text-input" contenteditable="true" data-item-id="{{consequence._id}}">{{{consequence.data.value}}}</div>

                 <div class="fatex-actions fatex-actions--item">
                    <i class="fatex-eb-consequence-sort fatex-actions__icon fatex-actions__icon--move fa fa-sort"></i>
                    <i class="fatex-eb-consequence-settings fatex-actions__icon fa fa-cog" data-item="{{consequence._id}}"></i>
                    <i class="fatex-eb-consequence-delete fatex-actions__icon fatex-u-delete fa fa-trash" data-item="{{consequence._id}}"></i>
                </div>

                <label class="fatex-text-input__label">{{consequence.data.label}}</label>

                {{#if consequence.isConsequence}}
                    <label class="fatex__consequence__icon fatex__input__icon">{{consequence.data.icon}}</label>
                {{/if}}

                {{#if consequence.isCondition}}
                    <label class="fatex__consequence__box" data-item="{{consequence._id}}">
                        <span class="fatex__consequence__box__label">{{consequence.data.icon}}</span>
                        <input class="fatex__consequence__box__checkbox" type="checkbox"{{#if consequence.data.active}} checked="checked"{{/if}}>
                        <span class="fatex__consequence__box__icon fa fa-times"></span>
                    </label>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>
