<div class="fatex__artwork{{#if sheetConfig.hideArtwork}} fatex__artwork--hidden{{/if}}">
    <style>
        .fatex__artwork--image--{{actor._id}} {
            background-image: url("{{actor.img}}");
        }
    </style>

    <header class="fatex-headline">
        <h2 class="fatex-headline__text">{{localize "FAx.Sheet.Artwork"}}</h2>
    </header>

    <div class="fatex__artwork--image fatex__artwork--image--{{actor._id}}" title="{{actor.name}}"></div>
    <img class="fatex__artwork--handler profile" alt="{{actor.name}}" data-edit="img" src="{{actor.img}}"/>
</div>
