<section class="fatex-item-grid fatex-u-padding-std">
    {{#each stress as |stress stressIndex|}}
        <div class="fatex__stress__track item{{#if stress.isDisabled}} fatex-u-disabled{{/if}}" data-item-id="{{stress._id}}">
            <header class="fatex-headline fatex-eb-sortable" data-item-id="{{stress._id}}">
                <h3 class="fatex-headline__text">{{stress.name}}</h3>

                <div class="fatex-actions fatex-actions--headline">
                    <i class="fatex-eb-item-sort fatex-actions__icon fatex-actions__icon--move fa fa-sort"></i>
                    <i class="fatex-eb-stress-settings fatex-actions__icon fa fa-cog" data-item="{{stress._id}}"></i>
                    <i class="fatex-eb-stress-delete fatex-actions__icon fatex-u-delete fa fa-trash" data-item="{{stress._id}}"></i>
                </div>
            </header>

            {{#if stress.data.description}}
                <span class="fatex__stress__track__description">
                    {{stress.data.description}}
                </span>
            {{/if}}

            <div class="fatex__stress__track__items fatex__stress__track__items__break">
                {{#each stress.boxes as |box boxIndex|}}
                    <div class="fatex__stress__track__item">
                        <label class="fatex__stress__track__item__box" data-index="{{boxIndex}}" data-item="{{stress._id}}">
                            <span class="fatex__stress__track__item__label">{{box.label}}</span>
                            <input class="fatex__stress__track__item__checkbox" type="checkbox"{{#if box.isChecked}} checked="checked"{{/if}}>
                            <span class="fatex__stress__track__item__icon"></span>
                        </label>
                    </div>

                    {{#if (eq @index 3)}}
                        <div class="fatex__stress__track__break"></div>
                    {{/if}}
                {{/each}}

                {{#each stress.fillers}}
                    <div class="fatex__stress__track__filler"><div class="fatex__stress__track__item__box"></div></div>
                {{/each}}
            </div>
        </div>
    {{/each}}

    <div class="fatex-eb-stress-add fatex-headline fatex-headline--center fatex-headline--helper">
        <h3 class="fatex-headline__text">+</h3>
    </div>
</section>
