<header class="fatex-header">
    <div class="fatex-header__name">
        <span class="fatex-header__label" for="name">{{#if isToken}}Token-{{/if}}{{localize "FAx.Sheet.Name"}}</span>
        <input class="fatex-header__name-input fatex__input" name="name" type="text" value="{{actor.name}}">
    </div>

    <div class="fatex-header__fate-points">
        <label class="fatex-header__label fatex-header__label--center" for="name">
            {{localize "FAx.Sheet.FatePoints"}}
        </label>

        <div class="fatex-header__fate-points-wrapper">
            <input class="fatex-header__fp-input" name="data.fatepoints.current" type="text" value="{{data.fatepoints.current}}">
            <span class="fatex-header__fatepoint-divider"> / </span>
            <input class="fatex-header__refresh-input" name="data.fatepoints.refresh" type="text" value="{{data.fatepoints.refresh}}">
        </div>
    </div>

    <div class="fatex-header__logo">
        <img class="fatex-header__logo-image" src="/systems/fatex/assets/logos/powered_by_fate.svg">
    </div>
</header>
