<section class="fatex-u-full-width">
    <div class="fatex-u-padding-std fatex-item-grid">
        {{#each extras as |extra extraIndex|}}
            <div data-item-id="{{extra._id}}">
                <header
                    class="fatex-eb-sortable fatex-headline fatex-headline--fixed-icon"
                    data-item-id="{{extra._id}}"
                >
                    <h3 class="fatex-headline__text">{{extra.name}}</h3>

                    <div class="fatex-actions fatex-actions--headline">
                        <span class="fatex-eb-item-sort fatex-actions__icon fatex-actions__icon--move fa fa-sort"></span>
                        <span class="fatex-eb-extra-settings fatex-actions__icon fa fa-cog" data-item="{{extra._id}}"></span>
                        <span class="fatex-eb-extra-delete fatex-actions__icon fatex-u-delete fa fa-trash" data-item="{{extra._id}}"></span>
                        <span class="fatex-eb-item-collapse fatex-actions__icon fatex-actions__icon--no-hide fa fa-chevron-up{{#if extra.data.collapsed}} fatex-actions__icon--reverse{{/if}}" data-item="{{extra._id}}"></span>
                    </div>
                </header>

                {{#unless extra.data.collapsed}}
                    {{#if extra.data.description}}
                        <div class="fatex-item-description">
                            {{{extra.data.description}}}
                        </div>
                    {{/if}}
                {{/unless}}
            </div>
        {{/each}}

        <div class="fatex-eb-extra-add fatex-headline fatex-headline--center fatex-headline--helper">
            <h3 class="fatex-headline__text">+</h3>
        </div>
    </div>
</section>
