<div class="fatex__extras">

    <div class="fatex__extra__add fatex__helper__editmode fatex__helper__editmode--vanish">
        <h2 class="fatex__headline fatex__headline--center">
            <span>+</span>
        </h2>
    </div>

    <div class="fatex__extras__wrapper">
        {{#each extras as |extra extraIndex|}}
            <div class="fatex__extra item {{#if extra.data.collapsed}}fatex__extra__collapsed{{/if}}" data-item-id="{{extra._id}}">
                <h2 class="fatex__headline fatex__sortable" data-item-id="{{extra._id}}">
                    <span>{{extra.name}}</span>

                    <div class="fatex__headline__actions fatex__item__actions">
                        <span class="fatex__item__sort fatex__extra__sort"></span>
                        <span class="fatex__item__settings fatex__extra__settings" data-item="{{extra._id}}"></span>
                        <span class="fatex__item__delete fatex__extra__delete" data-item="{{extra._id}}"></span>
                    </div>

                    <div class="fatex__item__collapsible">
                        <span class="fatex__item__collapse fatex__stunt__collapse--toggle {{#if extra.data.collapsed}}fatex__item__collapse--closed{{/if}}" data-item="{{extra._id}}"></span>
                    </div>
                </h2>

                {{#unless extra.data.collapsed}}
                    {{#ifNotEmpty extra.data.description}}
                        <div class="fatex__extra__description">
                            {{{extra.data.description}}}
                        </div>
                    {{/ifNotEmpty}}
                {{/unless}}
            </div>
        {{/each}}
    </div>
</div>
