<div class="fatex-setting">
    <header class="fatex-headline">
        <h3 class="fatex-headline__text">{{localize headline}}</h3>
    </header>

    <div class="fatex-radio-group fatex-radio-group--ranks">
        {{#each radioItems as |radioItem radioItemIndex|}}
            <div
                class="fatex-js-radio-button fatex-radio-rank{{#if (eq radioItem ../field)}} fatex-radio-rank--active{{/if}}{{#if (lt radioItem 0)}} fatex-radio-rank--negative{{/if}}"
                data-value="{{ radioItem }}"
                data-name="{{ ../fieldName }}"
                data-dtype="{{ ../dtype }}"
            >
                <span class="fatex__setting__radio__value">{{#if (gte radioItem 0)}}+{{/if}}{{ radioItem }}</span>
            </div>
        {{/each}}
    </div>
</div>
