<div class="fatex__automation fatex__setting fatex__setting--min-height">
    <h2 class="fatex__headline fatex__setting__headline">
        <span>{{localize headline}}</span>

        <div class="fatex__headline__actions fatex__setting__actions">
            <span class="fatex__item__add fatex__skill__reference__create">{{localize "FAx.Item.Automation.AddSkillRef"}}</span>
        </div>
    </h2>

    {{#each statusReferences as |reference|}}
        <div class="fatex__skill__reference" data-index="{{reference.index}}">
            <div class="fatex__skill__reference__condition">
                <span>{{localize "FAx.Item.Automation.DisableUntil"}}</span>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--skill"
                    data-index="{{reference.index}}"
                    data-field="skill"
                >
                    <option value=""{{#if (eq reference.skill '')}} selected="selected"{{/if}}> -</option>

                    {{#each ../availableSkills as |skill skillIndex|}}
                        <option value="{{skill}}"{{#if (eq reference.skill skill)}} selected="selected"{{/if}}>
                            {{skill}}
                        </option>
                    {{/each}}
                </select>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--operator"
                    data-index="{{reference.index}}"
                    data-field="operator"
                    data-dtype="Number"
                >
                    {{#each ../availableOperators as |operator|}}
                        <option value="{{operator.value}}"{{#if (eq reference.operator operator.value)}} selected="selected"{{/if}}>
                            {{operator.label}}
                        </option>
                    {{/each}}
                </select>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--condition"
                    data-index="{{reference.index}}"
                    data-field="condition"
                    data-dtype="Number"
                >
                    {{#each ../availableSkillLevels as |skillLevel|}}
                        <option value="{{skillLevel.value}}"{{#if (eq reference.condition skillLevel.value)}} selected="selected"{{/if}}>
                            {{skillLevel.label}}
                        </option>
                    {{/each}}
                </select>
            </div>

            <div class="fatex__skill__reference__actions">
                <div class="fatex__item__delete fatex__skill__reference__remove" data-index="{{reference.index}}"></div>
            </div>
        </div>
    {{else}}
        <div class="fatex__skill__reference__description">
            {{localize "FAx.Item.Automation.Description"}}
        </div>
    {{/each}}
</div>
