<div class="fatex__setting">
    <h2 class="fatex__headline fatex__setting__headline">
        <span>{{localize headline}}</span>
    </h2>

    <div class="fatex__setting__radio__group fatex__setting__radio__group--ranks">
        {{#each radioItems as |radioItem radioItemIndex|}}
            <div
                class="fatex__setting__radio{{#ifEquals radioItem ../field}} fatex__setting__radio--active{{/ifEquals}}{{#if (lt radioItem 0)}} fatex__setting__radio--negative{{/if}}"
                data-value="{{ radioItem }}"
                data-name="{{ ../fieldName }}"
                data-dtype="{{ ../dtype }}"
            >
                <span class="fatex__setting__radio__value">{{#if (gte radioItem 0)}}+{{/if}}{{ radioItem }}</span>
            </div>
        {{/each}}

    </div>
</div>
