<div class="fatex-setting fatex__setting--min-height">
    <header class="fatex-headline">
        <h3 class="fatex-headline__text">{{localize headline}}</h3>

        <div class="fatex-eb-create-skill-reference fatex-actions fatex-actions--headline">
            <i class="fatex-actions__icon fatex-actions__icon--no-hide fa fa-plus"></i>
            <span class="fatex-actions__text">{{localize "FAx.Item.Automation.AddSkillRef"}}</span>
        </div>
    </header>

    {{#each statusReferences as |reference|}}
        <div class="fatex-u-pos-relative fatex__skill__reference" data-index="{{reference.index}}">
            <div class="fatex__skill__reference__condition">
                <span>{{localize "FAx.Item.Automation.DisableUntil"}}</span>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--skill"
                    data-index="{{reference.index}}"
                    data-field="skill"
                >
                    <option value=""{{#if (eq reference.skill '')}} selected="selected"{{/if}}> -</option>

                    {{#each ../availableSkills as |skill skillIndex|}}
                        <option value="{{skill}}"{{#if (eq reference.skill skill)}} selected="selected"{{/if}}>
                            {{skill}}
                        </option>
                    {{/each}}
                </select>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--operator"
                    data-index="{{reference.index}}"
                    data-field="operator"
                    data-dtype="Number"
                >
                    {{#each ../availableOperators as |operator|}}
                        <option value="{{operator.value}}"{{#if (eq reference.operator operator.value)}} selected="selected"{{/if}}>
                            {{operator.label}}
                        </option>
                    {{/each}}
                </select>

                <select
                    class="fatex__skill__reference__change fatex__skill__reference__change--condition"
                    data-index="{{reference.index}}"
                    data-field="condition"
                    data-dtype="Number"
                >
                    {{#each ../availableSkillLevels as |skillLevel|}}
                        <option value="{{skillLevel.value}}"{{#if (eq reference.condition skillLevel.value)}} selected="selected"{{/if}}>
                            {{skillLevel.label}}
                        </option>
                    {{/each}}
                </select>
            </div>

            <div class="fatex-actions fatex-actions--automation-item">
                <i
                    class="fatex-eb-remove-skill-reference fatex-actions__icon fatex-u-delete fa fa-trash fatex-actions__icon--no-hide"
                    data-index="{{reference.index}}"></i>
            </div>
        </div>
    {{else}}
        <div class="fatex__skill__reference__description">
            {{localize "FAx.Item.Automation.Description"}}
        </div>
    {{/each}}
</div>
