<div class="fatex__setting">
    <header class="fatex-headline ">
        <h3 class="fatex-headline__text">{{localize headline}}</h3>
    </header>

    <label class="fatex__input fatex__setting__text" for="{{ fieldName }}">
        {{#if help}}<span class="fatex__setting__help">{{localize help}}</span>{{/if}}

        <div
            contenteditable="true"
            class="fatex__setting__input fatex__input__input"
            data-edit="{{ fieldName }}"
        >
            {{{ field }}}
        </div>
    </label>
</div>
