<form autocomplete="off" class="fatex-u-full-height {{cssClass}}">
    <div class="fatex-desk">
        {{!--HEADER--}}
        <div class="fatex-header">
            <div class="fatex-header__name">
                <label class="fatex-header__label">
                    {{#if isOwnedBy}}
                        {{ isOwnedBy }}
                    {{else}}
                        {{localize label}}
                    {{/if}}
                </label>

                <div class="fatex-header__title">
                    {{localize title}}
                </div>
            </div>

            {{#if centerPartial}}
                {{> centerPartial }}
            {{/if}}

            {{> "systems/fatex/templates/components/header-logo.hbs"}}
        </div>

        <div class="fatex-desk__content fatex-desk__content--app">
