{{#each stress as |stress stressIndex|}}
    <div
        class="{{#if stress.isDisabled}}fatex-u-disabled{{/if}}"
        data-item-id="{{stress._id}}"
    >
        <header class="fatex-headline fatex-js-sortable" data-item-id="{{stress._id}}">
            <h3 class="fatex-headline__text">{{stress.name}}</h3>

            <div class="fatex-actions fatex-actions--headline">
                <i class="fatex-js-item-sort fatex-actions__icon fa fa-sort"></i>
                <i class="fatex-js-stress-settings fatex-actions__icon fa fa-cog" data-item="{{stress._id}}"></i>
                <i class="fatex-js-stress-delete fatex-actions__icon fatex-u-delete fa fa-trash" data-item="{{stress._id}}"></i>
            </div>
        </header>

        {{#if stress.system.description}}
            <span class="fatex-item-description">
                {{stress.system.description}}
            </span>
        {{/if}}

        <div class="fatex-stress-track">
            {{#each stress.boxes as |box boxIndex|}}
                <label
                    class="fatex-js-stress-checkbox fatex-checkbox"
                    data-index="{{boxIndex}}"
                    data-item="{{stress._id}}"
                >
                    <span class="fatex-checkbox__label">{{box.label}}</span>

                    <input
                        class="fatex-checkbox__input"
                        type="checkbox"
                        {{#if box.isChecked}}checked="checked"{{/if}}
                    >

                    <i class="fatex-checkbox__icon fa fa-times"></i>
                </label>
            {{/each}}

            {{#each stress.fillers}}
                <div class="fatex-js-stress-checkbox fatex-checkbox fatex-checkbox--filler"></div>
            {{/each}}
        </div>
    </div>
{{/each}}
