<div class="fatex-setup-actions">
    <span class="fatex-eb-clear-aspects fatex-setup-actions__button{{#unless hasAspects}} fatex-setup-actions__button--disabled{{/unless}}">
        {{localize "FAx.Apps.Setup.Actions.Clear.Aspects"}}
    </span>

    <span class="fatex-eb-clear-consequences fatex-setup-actions__button{{#unless hasConsequences}} fatex-setup-actions__button--disabled{{/unless}} ">
        {{localize "FAx.Apps.Setup.Actions.Clear.Consequences"}}
    </span>

    <span class="fatex-eb-clear fatex-setup-actions__button fatex-setup-actions__button--clear-all{{#unless hasAny}} fatex-setup-actions__button--disabled{{/unless}}">
        <span>{{localize "FAx.Apps.Setup.Actions.Clear.Everything"}}</span>
    </span>

    <span class="fatex-eb-clear-skills fatex-setup-actions__button{{#unless hasSkills}} fatex-setup-actions__button--disabled{{/unless}}">
        {{localize "FAx.Apps.Setup.Actions.Clear.Skills"}}
    </span>

    <span class="fatex-eb-clear-stress fatex-setup-actions__button{{#unless hasStress}} fatex-setup-actions__button--disabled{{/unless}}">
        {{localize "FAx.Apps.Setup.Actions.Clear.Stress"}}
    </span>
</div>
