<div class="fatex-chat">
    <header class="fatex-headline fatex-headline--chat">
        <h3 class="fatex-headline__text">{{ skill.name }}</h3>

        <span class="fatex-headline__icon{{#if skill.system.isNegative}} fatex-headline__icon--negative{{/if}}">
            {{#if skill.system.isPositive}}+{{/if}}{{ rank }}
        </span>
    </header>

    <div class="fatex-roll" data-token-id="{{token.id}}">
        <div class="fatex-dice">
            {{#each dice as |die dieIndex|}}
                <div>{{ die.face }}</div>
            {{/each}}
        </div>

        <span class="fatex-roll__total">{{ total }}</span>
        <span class="fatex-roll__ladder">{{ ladder }}</span>

        <div class="fatex-roll-actions">
            <button data-action="action!">Action!</button>
        </div>
    </div>
</div>
