<div class="fatex__chat">
    <div class="fatex__chat__headline__wrapper">
        <div class="fatex__chat__headline fatex-headline fatex__headline--icon fatex__headline--center">
            {{ skill.name }}
        </div>

        <label class="fatex__chat__headline__icon fatex__headline__icon{{#if skill.data.isNegative}} fatex__chat__headline__icon--negative{{/if}}">
            {{#if skill.data.isPositive}}+{{/if}}{{ rank }}
        </label>
    </div>


    <div class="fatex-chat__dice-container">
        {{#each dice as |die dieIndex|}}
            <div class="fatex-chat__die">
                {{ die.face }}
            </div>
        {{/each}}
    </div>

    <div class="fatex-chat__total">
        {{ total }}

        <span class="fatex-chat__ladder">
            {{ ladder }}
        </span>
    </div>
</div>
