<div class="fatex-chat">
    <header class="fatex-headline fatex-headline--chat">
        <h3 class="fatex-headline__text">{{ skill.name }}</h3>

        <span class="fatex-headline__icon{{#if skill.data.isNegative}} fatex-headline__icon--negative{{/if}}">
            {{#if skill.data.isPositive}}+{{/if}}{{ rank }}
        </span>
    </header>

    <div class="fatex-roll">
        <div class="fatex-dice">
            {{#each dice as |die dieIndex|}}
                <div>{{ die.face }}</div>
            {{/each}}
        </div>

        <span class="fatex-roll__total">{{ total }}</span>
        <span class="fatex-roll__ladder">{{ ladder }}</span>
    </div>
</div>
