<div class="fatex__chat">
    <header class="fatex-chat__headline-container">
        <h2 class="fatex-headline fatex-headline--icon fatex-headline--center">
            {{ skill.name }}
        </h2>

        <span class="fatex-chat__headline-icon{{#if skill.data.isNegative}} fatex-chat__headline-icon--negative{{/if}}">
            {{#if skill.data.isPositive}}+{{/if}}{{ rank }}
        </span>
    </header>



    <div class="fatex-chat__dice-container">
        {{#each dice as |die dieIndex|}}
            <div class="fatex-chat__die">
                {{ die.face }}
            </div>
        {{/each}}
    </div>

    <div class="fatex-chat__total">
        {{ total }}

        <span class="fatex-chat__ladder">
            {{ ladder }}
        </span>
    </div>
</div>
