<form autocomplete="off" class="fatex-u-full-height" data-id="{{referenceID}}">
    <div class="fatex__inline_sheet{{#if defeated}} fatex__inline_sheet--defeated{{/if}}{{#if hidden}} fatex__inline_sheet--hidden{{/if}}">
        <h2 class="fatex__inline_sheet__headline fatex-headline">
            <img alt="{{actor.name}}" data-edit="img" src="{{actor.img}}" />
            <span class="fatex__inline_sheet__headline__name">{{actor.name}}</span>
            {{#unless isToken}}
                <input class="fatex__inline_sheet__headline__fp" name="data.fatepoints.current" type="number" min="0" max="99" value="{{data.fatepoints.current}}">
            {{/unless}}
        </h2>

        <div class="fatex__inline_sheet__content">
            <div class="fatex__inline_sheet__front">
                {{> "systems/fatex/templates/inline-sheet/parts/aspects.hbs"}}
            </div>

            <div class="fatex__inline_sheet__back">
                {{> "systems/fatex/templates/inline-sheet/parts/consequences.hbs"}}
                {{> "systems/fatex/templates/inline-sheet/parts/stress.hbs"}}
            </div>
        </div>
    </div>
</form>
