<form autocomplete="off" class="fatex-u-full-height" data-id="{{referenceID}}">
    <div class="fatex__inline_sheet{{#if defeated}} fatex__inline_sheet--defeated{{/if}}{{#if hidden}} fatex__inline_sheet--hidden{{/if}}">
        <h2 class="fatex__inline_sheet__headline fatex-headline fatex-headline--inline-sheet">
            <img class="fatex-headline__image" alt="{{actor.name}}" data-edit="img" src="{{actor.img}}" />
            <span class="fatex-headline__text">{{actor.name}}</span>
            {{#unless isToken}}
                <input
                    class="fatex-text-input fatex-text-input--headline"
                    name="data.fatepoints.current"
                    type="number"
                    min="0"
                    max="99"
                    value="{{data.fatepoints.current}}"
                >
            {{/unless}}
        </h2>

        <div class="fatex__inline_sheet__content">
            <div class="fatex__inline_sheet__front">
                <section class="fatex-desk__aspects">
                    {{> "systems/fatex/templates/components/aspects.hbs"}}
                </section>
            </div>

            <div class="fatex__inline_sheet__back">
                <section class="fatex-desk__consequences">
                    {{> "systems/fatex/templates/components/consequences.hbs"}}
                </section>

                <section class="fatex-item-grid fatex-u-padding-std">
                    {{> "systems/fatex/templates/components/stress.hbs"}}
                </section>
            </div>
        </div>
    </div>
</form>
