{{#*inline "centerPartial"}}
    <div class="fatex-header__center fatex__template__header__settings fatex__template__create">
        <span class="fatex-header__label">{{localize "FAx.Settings.Templates.App.CreateNew"}}</span>
        <i class="fas fa-plus fatex__item__header__title"></i>
    </div>
{{/inline}}

{{> "systems/fatex/templates/apps/parts/layout/app-header.hbs"
    title="FAx.Settings.Templates.App.Title"
    label="FAx.Settings.Templates.App.Label"
    centerPartial="centerPartial"
}}

<div class="fatex__templates">
    {{#each templateActors as |template templateIndex|}}
        <div class="fatex__template">
            <header class="fatex-headline">
                <h3 class="fatex-headline__text">{{ template.name }}</h3>
            </header>

            <style>
                .fatex__template__image--{{template._id}} {
                    background-image: url("{{template.img}}");
                }
            </style>

            <div class="fatex__template__image fatex__template__image--{{template._id}}" title="{{template.name}}"></div>

            <div class="fatex__template__information">
                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Aspects"}}</span>
                <span class="fatex__template__information__value">{{template.aspects.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.StressTracks"}}</span>
                <span class="fatex__template__information__value">{{template.stress.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Skills"}}</span>
                <span class="fatex__template__information__value">{{template.skills.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Consequences"}}</span>
                <span class="fatex__template__information__value">{{template.consequences.length}}</span>
            </div>

            <div class="fatex__template__actions">
                <span class="fatex__template__configure fatex-button fatex-button--dark fatex__item__settings" data-template="{{template._id}}">
                    {{localize "FAx.Global.Actions.Configure"}}
                </span>

                <span class="fatex__template__duplicate fatex-button fatex-button--dark fatex__item__duplicate" data-template="{{template._id}}">
                    {{localize "FAx.Global.Actions.Duplicate"}}
                </span>

                <span class="fatex__template__delete fatex-button fatex-button--dark fatex__item__delete" data-template="{{template._id}}">
                    {{localize "FAx.Global.Actions.Delete"}}
                </span>
            </div>
        </div>
    {{else}}
        <div class="fatex__template__help">
            <p>{{{localize "FAx.Settings.Templates.App.Help"}}}</p>

            {{> centerPartial }}
        </div>
    {{/each}}
</div>

{{> "systems/fatex/templates/apps/parts/layout/app-footer.hbs"}}
