{{#*inline "centerPartial"}}
    <div class="fatex-header__center fatex__template__header__settings">
        <span class="fatex-header__label">{{localize "FAx.Template.Picker.Configuration"}}</span>
        <i class="fas fa-cogs fatex__item__header__title"></i>
    </div>
{{/inline}}

{{> "systems/fatex/templates/apps/parts/layout/app-header.hbs"
    title="ACTOR.Create"
    label="FAx.Template.Picker.Label"
    centerPartial="centerPartial"
}}

<div class="fatex__templates">

    <div class="fatex__template">
        <header class="fatex-headline">
            <h3 class="fatex-healing__text">{{localize "FAx.Template.Picker.Empty"}}</h3>
        </header>

        <style>
            .fatex__template__image--empty {
                background-image: url("icons/svg/mystery-man.svg");
            }
        </style>

        <div class="fatex__template__image fatex__template__image--empty" title=""></div>

        <div class="fatex__template__information">
            <span class="fatex__template__information__name">{{localize "FAx.Sheet.Aspects"}}</span>
            <span class="fatex__template__information__value">0</span>

            <span class="fatex__template__information__name">{{localize "FAx.Sheet.StressTracks"}}</span>
            <span class="fatex__template__information__value">0</span>

            <span class="fatex__template__information__name">{{localize "FAx.Sheet.Skills"}}</span>
            <span class="fatex__template__information__value">0</span>

            <span class="fatex__template__information__name">{{localize "FAx.Sheet.Consequences"}}</span>
            <span class="fatex__template__information__value">0</span>
        </div>

        <div class="fatex__template__actions">
                <span class="fatex__template__empty fatex__item__add">
                    {{localize "FAx.Global.Actions.Create"}}
                </span>
        </div>
    </div>

    <div class="fatex__template__or">
        <span>{{localize "FAx.Template.Picker.Or"}}</span>
    </div>

    {{#each templateActors as |template templateIndex|}}
        <div class="fatex__template">
            <div class="fatex-headline">
                <span>{{ template.name }}</span>
            </div>

            <style>
                .fatex__template__image--{{template._id}} {
                    background-image: url({{template.img}});
                }
            </style>

            <div class="fatex__template__image fatex__template__image--{{template._id}}"
                 title="{{template.name}}"></div>

            <div class="fatex__template__information">
                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Aspects"}}</span>
                <span class="fatex__template__information__value">{{template.aspects.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.StressTracks"}}</span>
                <span class="fatex__template__information__value">{{template.stress.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Skills"}}</span>
                <span class="fatex__template__information__value">{{template.skills.length}}</span>

                <span class="fatex__template__information__name">{{localize "FAx.Sheet.Consequences"}}</span>
                <span class="fatex__template__information__value">{{template.consequences.length}}</span>
            </div>

            <div class="fatex__template__actions">
                <span class="fatex__template__choose fa fa-file-medical" data-template="{{template._id}}">
                    {{localize "FAx.Global.Actions.Choose"}}
                </span>
            </div>
        </div>
    {{else}}
    <div class="fatex__template__help">
        <p>{{{localize "FAx.Template.Picker.Explain"}}}</p>
        <p>{{{localize "FAx.Template.Picker.Help"}}}</p>

        {{> centerPartial }}
    </div>
    {{/each}}
</div>

{{> "systems/fatex/templates/apps/parts/layout/app-footer.hbs"}}
