<form autocomplete="off">
    <section class="fatex-u-mb-l">
        <h2>Header Styles</h2>

        <div class="form-group">
            <label>Header Background Color:</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="headerBackgroundColor"
                    value="{{headerBackgroundColor}}"
                    data-type="String"
                    readonly="readonly"
                >
                <input
                    type="color"
                    name="headerBackgroundColorSelector"
                    value="{{headerBackgroundColor}}"
                    data-edit="headerBackgroundColor"
                    data-property="fatex-header-color"
                >
            </div>
        </div>

        <div class="form-group">
            <label>Header Text Color:</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="headerTextColor"
                    value="{{headerTextColor}}"
                    data-type="String"
                    readonly="readonly"
                >
                <input
                    type="color"
                    name="headerTextColorSelector"
                    value="{{headerTextColor}}"
                    data-edit="headerTextColor"
                    data-property="fatex-header-text-color"
                >
            </div>
        </div>
    </section>

    <section>
        <h2>Other Sheet Styles</h2>

        <div class="form-group">
            <label>Primary Sheet Color:</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="primarySheetColor"
                    value="{{primarySheetColor}}"
                    data-type="String"
                    readonly="readonly"
                >
                <input
                    type="color"
                    name="primarySheetColorSelector"
                    value="{{primarySheetColor}}"
                    data-edit="primarySheetColor"
                    data-property="--fatex-primary-color"
                >
            </div>
        </div>

        <div class="form-group">
            <label>Sheet Background Color:</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="sheetBackgroundColor"
                    value="{{sheetBackgroundColor}}"
                    data-type="String"
                    readonly="readonly"
                >
                <input
                    type="color"
                    name="sheetBackgroundColorSelector"
                    value="{{sheetBackgroundColor}}"
                    data-edit="sheetBackgroundColor"
                    data-property="fatex-sheet-background-color"
                >
            </div>
        </div>

        <div class="form-group">
            <label>Scrollbar Color:</label>
            <div class="form-fields">
                <input
                    type="text"
                    name="scrollbarColor"
                    value="{{scrollbarColor}}"
                    data-type="String"
                    readonly="readonly"
                >
                <input
                    type="color"
                    name="scrollbarColorSelector"
                    value="{{scrollbarColor}}"
                    data-edit="scrollbarColor"
                    data-property="fatex-scrollbar-color"
                >
            </div>
        </div>
    </section>

    <footer class="sheet-footer flexrow fatex-u-mt-std">
        <button type="submit" name="submit">
            <i class="fa fa-save"></i>
            <span>Save</span>
        </button>
        <button type="button" name="reset">
            <i class="fa fa-undo"></i>
            <span>Reset Defaults</span>
        </button>
        <button type="button" name="cancel">
            <i class="fa fa-ban"></i>
            <span>Cancel</span>
        </button>
    </footer>
</form>
