<header class="fatex-headline">
    <h2 class="fatex-headline__text">{{localize "FAx.Sheet.Aspects"}}</h2>
    <div class="fatex-actions fatex-actions--headline">
        <span class="fatex-eb-aspect-add fatex-actions__icon fatex-actions__icon--add"></span>
    </div>
</header>

{{#each aspects as |aspect aspectIndex|}}
    <div class="fatex-aspect fatex-eb-sortable item" data-item-id="{{aspect._id}}">
        <div class="fatex-u-pos-relative">
            <div class="fatex-eb-aspect-input fatex-text-input" contenteditable="true" data-item-id="{{aspect._id}}">{{{aspect.data.value}}}</div>

            <label class="fatex-text-input__label">{{aspect.data.label}}</label>

            <div class="fatex__aspect__actions fatex__item__actions">
                <span class="fatex__aspect__sort fatex__item__sort"></span>
                <span class="fatex__aspect__settings fatex__item__settings" data-item="{{aspect._id}}"></span>
                <span class="fatex__aspect__delete fatex__item__delete" data-item="{{aspect._id}}"></span>
            </div>
        </div>
    </div>
{{/each}}
